#html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

#containerFirstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 90%;
    margin: auto;
}

#containerFirstSection img{
    margin-top: 25px;
    max-width: 100%;
    border-radius: 15px;
}

#containerFirstSection h1{
    color: hsl(216, 80%, 47%);
    margin-top: 15px;
}
