@font-face {
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.ttf);
    font-family: NotoSans-VariableFont;
}
  
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: NotoSans-VariableFont;
}

.content {
    flex: 1;
    width: 95%; 
    max-width: 1200px;
    margin: 0 auto; 
}

#containerFirstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 90%;
    margin: auto;
}

#containerFirstSection img {
    margin-top: 25px;
    max-width: 100%;
    border-radius: 15px;
}

#containerFirstSection h1 {
    color: hsl(216, 80%, 47%);
    margin-top: 15px;
}


@media (max-width: 768px) {
    #containerFirstSection {
        padding: 10px; 
    }

    #containerFirstSection h1 {
        font-size: 1.8em; 
    }

    #containerFirstSection p {
        font-size: 0.9em; 
        line-height: 1.4; 
        margin: 10px 0; 
    }
}

@media (max-width: 480px) {
    #containerFirstSection h1 {
        font-size: 1.5em; 
    }

    #containerFirstSection p {
        font-size: 0.85em; 
    }
}
