html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    width: 95%; /* Aumentar el ancho del contenido a un 95% */
    max-width: 1200px;
    margin: 0 auto; 
}

main {
    display: flex;
    justify-content: space-between; 
    padding: 20px; /* Reducir padding para que no quede tan ancho */
    border-radius: 8px; 
}

article, section {
    flex: 1;
    padding: 10px; /* Reducir padding en los elementos */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

article {
    margin-right: 10px; /* Espacio reducido entre article y section */
    border-radius: 8px; /* Bordes redondeados */
    text-align: left; /* Cambiado a left para mejor legibilidad */
}

article h2 {
    color: hsl(216, 80%, 47%);
}

section {
    margin-left: 10px; /* Espacio reducido entre article y section */
    border-radius: 8px; /* Bordes redondeados */
    margin-top: 20px; /* Reducir el margen superior para mejor distribución */
    text-align: center;
}

section h2 {
    color: hsl(216, 80%, 47%);
}

#Image img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
}

#juntaDirectiva {
    clear: both; /* Asegura que esté debajo de main */
    text-align: center;
}

#juntaDirectiva ul {
    list-style-position: inside; /* Cambia la posición de los puntos */
    padding: 0; 
    margin: 0; 
}

#juntaDirectiva h2 {
    color: hsl(216, 80%, 47%);
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column; /* Cambia a columnas en pantallas pequeñas */
    }
    article, section {
        width: 100%;
        margin: 0; /* Elimina los márgenes laterales en pantallas pequeñas */
        margin-bottom: 10px; /* Agrega un poco de espacio vertical */
        padding: 10px; /* Mantiene el padding reducido en pantallas pequeñas */
    }
    
    #Image img {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }
}
