html, body {
    height: 100%;
    margin: 0;
}

footer {
    display: flex; /* Utilizamos flexbox */
    justify-content: center; /* Centrar los elementos en el contenedor */
    align-items: center; /* Alineamos verticalmente en el centro */
    padding: 20px; /* Espaciado interno */
    background-color: hsl(145, 89%, 65%); /* Color de fondo del footer */
}

#content {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.information-footer {
    margin-right: 250px; /* Espacio a la derecha para separarlo del div de redes sociales */
    text-align: center;
    color: hsl(0, 2%, 24%);
}

.socialmedia-facebook {
    display: flex; /* Para alinear el texto y el icono en línea */
    align-items: center; /* Alineamos verticalmente en el centro */
    text-align: center; /* Alineamos el texto al centro */
    color: hsl(0, 2%, 24%);
}

.socialmedia-facebook a {
    margin-left: 10px; /* Espacio entre el texto y el ícono */
    font-size: 24px; /* Tamaño del icono de Facebook */
    color: hsl(200, 100%, 40%); /* Color del icono */
}

.socialmedia-facebook a:hover {
    color: hsl(200, 100%, 60%); /* Color del icono al pasar el mouse */
}
