header{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
} 

.navbar{
    margin-top: 25px;
    background-color: hsla(0, 7%, 92%, 0.884);
    border: 1px solid hsl(0, 0%, 57%);
    border-radius: 5px;
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: hsla(0, 3%, 38%, 0.979);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsla(0, 0%, 9%, 0.204);
}

.navbar li{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.logo img{
    height: 150px;
    width: 150px;
}

.description{
    text-align: center;
    flex-grow: 1;
    margin: auto;
}

.login-dropdown {
    position: relative;
    margin-right: 10px;
}

.description h1{
    color: hsl(0, 76%, 61%);
}

.description h2{
    color: hsl(44, 84%, 64%);
}

.description h4{
    color: hsl(216, 80%, 47%);
}

.login-dropdown button{
    background-color: hsl(0, 76%, 61%);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 25px;
}

.login-dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.login-dropdown .content-login-dropdown{
    background-color: hsl(44, 84%, 64%);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.798);
    display: none;
    right: 0;
}

.login-dropdown:hover .content-login-dropdown{
    display: block;

}

.login-dropdown:hover button{
    background-color: hsl(0, 76%, 61%);
}

.login-dropdown a:hover{
    background-color: hsla(0, 0%, 100%, 0.802);
}