* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}


.navbar {
    width: 100%; 
    margin: 25px auto;
    background-color: hsla(0, 7%, 92%, 0.884);
    border: 1px solid hsl(0, 0%, 57%);
    border-radius: 5px;
}


.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a {
    color: hsla(0, 3%, 38%, 0.979);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background-color: hsla(0, 0%, 9%, 0.204);
}

.navbar li {
    margin: 5px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.description {
    text-align: center;
    flex-grow: 1;
    margin: 10px;
}

.description h1 {
    color: hsl(0, 76%, 61%);
    margin: 0;
}

.description h2 {
    color: hsl(44, 84%, 64%);
    margin: 0;
}

.description h4 {
    color: hsl(216, 80%, 47%);
    margin: 0;
}

.login-dropdown {
    position: relative;
}

.login-dropdown button {
    background-color: hsl(0, 76%, 61%);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.login-dropdown .content-login-dropdown {
    background-color: hsl(44, 84%, 64%);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.798);
    display: none;
    right: 0;
}

.login-dropdown:hover .content-login-dropdown {
    display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .description h1 {
        font-size: 1.2em;
    }

    .description h2, .description h4 {
        font-size: 1em;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar a {
        padding: 10px;
    }

    .login-dropdown button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-width: 80px;
    }

    .description h1 {
        font-size: 1em;
    }

    .description h2, .description h4 {
        font-size: 0.9em;
    }

    .navbar a {
        padding: 8px;
        font-size: 0.9em;
    }
}
